# === 覆盖：SD 三态 = REQUIRED（无卡即红灯） ===
# === 覆盖：OV2640（2MP） ===
CONFIG_CAM_OV3660=
CONFIG_CAM_OV2640=y
CONFIG_CAM_OV5640=
CONFIG_OV3660_SUPPORT=
CONFIG_OV2640_SUPPORT=y
CONFIG_OV5640_SUPPORT=
CONFIG_SD_MODE_NONE=
CONFIG_SD_MODE_OPTIONAL=
CONFIG_SD_MODE_REQUIRED=y